[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
lxml = "*"
requests = "*"
twilio = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"

[requires]
python_version = "3.6"
